{% extends 'base.html' %}
{% block main %}
    <section class="novidades">
     <h1> JOGOS </h1>

        <article>
    <h2>Chronoruptura</h2>
    <h3>Dec/2023</h3>
    <p> Luke e seus companheiros formam um grupo de bandidos intertemporais, utilizando 
        uma van para viajar no tempo e roubar em todas as eras da humanidade. Entretanto, 
        isso está prestes a mudar quando a van quebra, deixando todos presos em um ponto 
        aleatório da linha do tempo...
    </p>
    <a href="https://jkdelta.itch.io/chronoruptura" target="_blank">
    <img src="https://img.itch.zone/aW1nLzE0NDE0Mjc3LnBuZw==/original/wNr0zv.png"
    width="300" height="200">
    </a>
    </article>

        <article>
    <h2>Through The Dungeon (Scratch Edition)</h2>
    <h3>Mai/2022</h3>
    <p> Jogo feito para um projeto escolar</p>
    <a href="https://scratch.mit.edu/projects/690616046/" target="_blank">
        <img src="https://harvstrom.neocities.org/Screenshot_7.png" width="300" height="200" alt="Through The Dungeon">
    </a>
        </article>

             <article>
    <h2>Nelson Fight</h2>
    <h3>Nov/2024</h3>
    <p> Jogo feito para um projeto escolar (Acesso Limitado)</p>
    <a href="{{url_for('nelsonfight')}}">
        <img src="https://harvstrom.neocities.org/nfight.png" width="300" height="200" alt="Through The Dungeon">
    </a>
        </article>

     </section>

{% endblock %}
</body>
</html>