{% extends 'base.html' %}
{% block main %}
    <section class="novidades2">
        <article>
        <h2>Nelson Fight II</h2>
      
<iframe frameborder="0" src="https://itch.io/embed/3588911" width="552" height="167"><a href="https://jkdelta.itch.io/nelson-fight">Nelson Fight II by JkDelta</a></iframe>
        </article>
        <article>
            <p>
              Nelson Fight é um jogo de luta 2D feito para um projeto escolar, onde você controla os professores
              da escola contra eles mesmos!  
            </p>
            <p>
               Você pode acessar os controles do jogo apertando <b>ESC </b> e irá mostrar os respectivos
               controles de cada personagem.
            </p>
            <div class="flex">
                <div class="left">
                    <p>
                        <b>Jogo com acesso limitado.</b> Não é um lançamento oficial.
                    </p>
                </div>
                <div class="right">
                    <p>
                        <b>Data de lançamento:</b> 01/11/2024
                    </p>
            </div>
        </article>
    </section>
{% endblock %}
</body>
</html>