{% extends 'base.html' %}
{% block main %}
<section class="novidades p-2 m-5">
    <h1> POSTS</h1>
    <article>
        <h2>25/05/2025 - Primeiros Passos Para o Paranormal...</h2>
        <p>Estamos desenvolvendo o nosso próximo grande projeto, que terá uma proposta diferente
            com mecânicas de Point and Click, com uma narrativa misteriosa com personagens
            de todos os tipos que você imaginar.
        </p>
        <p>
            O jogo se chama <b>Locomotive Breath</b>, e será nosso primeiro jogo totalmente
            desenhado! Por isto temos vários artistas na equipe.
        </p>
        <p>
            Aqui temos uma imagem do cenário onde ele se passa:
        </p>
        <div class="section">
            <img src="https://harvstrom.neocities.org/bg23.webp" width="300" height="200" alt="Cenário">
        </div>
        <p>
            Enfim, não podemos mostrar muito, queremos que seja uma surpresa bem legal
            para todos que forem jogar. Até a próxima leak!
        </p>
    </article>
    </section>
{% endblock %}
</body>

</html>