{% extends 'base.html' %}
{% block main %}
<main class="">


    <section class="novidades p-2 m-5">
     <article>
        <h2 class="border-3 border-bottom"> 07/11/2025 - Caramba... Quanto tempo! <span class="fs-5 text-success-emphasis bg-success"> NOVO! </span></h2> 
        <p> Nós do estúdio Luna resolvemos dar uma reformada no site... Ele é open source como visto no nosso footer, o link do github está lá!</p>
        <p> Bem... Ainda estamos programando o site para que ele seja 100% incrível 😀, então tem muita coisa aqui que a gente planeja colocar, mas já da para 
            jogar muitos dos nossos jogos aqui que estão postados na web ou em algum canto especifico. </p>
        <p> É perceptivel que a gente voltou depois de meses na produção do site, pois no meio deste ano, maioria da equipe entrou na faculdade, então quebrou muito
            o workflow de trabalhar neste projeto do site, mas ele vai continuar! Esperem por mais atualizações </p>
     </article>
        <article class="mt-5">
            <h2 class="border-3 border-bottom">26/05/2025 - Alterações em algumas partes do site</h2>
            <p>Ontem nós descobrimos várias funcionalidades para o progresso do site, conseguiremos em breve
               adicionar a portabilidades de alguns jogos para poderem ser jogados por aqui mesmo!
            </p>
            <div class="flex">
                <div class="left">
                    <p>
                        Se você quiser testar um jogo nosso <i>(cujo ele não é um lançamento oficial ao público)</i>
                        vá até ao botão de "Jogos" e veja o último jogo de lá, uma grande supresa!
                    </p>
                </div>
                <div class="right">
                    <p>
                        O jogo não é oficial pois é um projeto escolar que foi feito a fins acadêmicos.
                        Ele está aqui apenas para poder testar se o site consegue rodar os jogos ou não.
                    </p>
                </div>
            </div>
            <p>
                <b>Em breve a página estará 100% completa! Até a próxima!</b>
            </p>
        </article>
        <article class="mt-5">
            <h2 class="border-3 border-bottom">22/05/2025 - Lançamento oficial de Locomotive Breath!</h2>
            <p>Confira agora o novo projeto da equipe! Um jogo bem misterioso e esquisito sobre comércio
                de artefatos mágicos, macabros e as vezes até mesmo perigosos. Demo gratuita no link abaixo.
                <a id="link" href="https://unistory.neocities.org" >Obtenha a demo gratuita!</a>
            </p>
        </article>
             <article class="mt-5">
            <h2 class="border-3 border-bottom">22/05/2025 - Site Oficial!</h2>
            <p>Outra coisa é que agora temos um site próprio, não é legal? </p>
        </article>
    </section>
</main>
{% endblock %}


</html>