{% extends 'base.html' %}
{% block main %}

    <section class="p-2 m-5">
     <h1> EQUIPE OFICIAL </h1>
     <div class="row"> 
        <div class="col mb-5">
            <h2 class="col">JkDelta (Programação)</h2>
            <p class="col">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac iaculis dolor. Praesent 
                porta fringilla eros, nec malesuada magna pharetra in. Proin quis libero facilisis, tristique 
                nulla non, tincidunt nunc. Fusce dignissim commodo arcu vitae dapibus. Morbi convallis orci nunc, 
                quis pellentesque enim varius vitae. Etiam pretium libero quis dapibus hendrerit. Sed et sapien in 
                urna tincidunt fermentum.
            </p>
            <img src="https://thumbs.dreamstime.com/b/programador-inform%C3%A1tico-ou-estudante-de-programa%C3%A7%C3%A3o-em-linha-um-jovem-com-cabelos-longos-e-fones-ouvido-use-uma-pintura-neon-203280344.jpg" 
            alt="Girl in a jacket" width="200" height="200"> 
        </div>
    </div>
    </section>
    {% endblock %}
</body>
</html>