{% extends 'base.html' %}
{% block main %}

    <section class="novidades p-2 m-5">
     <h1> EQUIPE OFICIAL </h1>
        <img src="{{ url_for('static', filename='images/LUNALOGO.webp')}}" alt="Logo do site" width="300px" height="250px">
        <article class="mb-5">
            <h2>JkDelta (Programação)</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac iaculis dolor. Praesent 
                porta fringilla eros, nec malesuada magna pharetra in. Proin quis libero facilisis, tristique 
                nulla non, tincidunt nunc. Fusce dignissim commodo arcu vitae dapibus. Morbi convallis orci nunc, 
                quis pellentesque enim varius vitae. Etiam pretium libero quis dapibus hendrerit. Sed et sapien in 
                urna tincidunt fermentum.
                <br>
                Fusce sollicitudin, lacus eu imperdiet rhoncus, velit orci condimentum felis, varius congue arcu 
                neque non nisi. Sed mollis, felis et vehicula dapibus, lacus quam hendrerit risus, ut tempor dui 
                dui vitae leo. Curabitur et dolor ac nibh elementum aliquet. Nullam enim lacus. 
            </p>
            <img src="https://thumbs.dreamstime.com/b/programador-inform%C3%A1tico-ou-estudante-de-programa%C3%A7%C3%A3o-em-linha-um-jovem-com-cabelos-longos-e-fones-ouvido-use-uma-pintura-neon-203280344.jpg" 
            alt="Girl in a jacket" width="200" height="200"> 
        </article>
         <article class="mb-5">
            <h2>Scareev (Música)</h2>
            <p>Músico da equipe des de 2022, ele também ajuda as vezes nas artes como na digitalização.
                Ele fez as artes do Through the Dungeon, mas depois só focou na área sonora dos jogos.
                <br>
                Conheça as trilhas sonoras dos jogos do Luna no canal oficial do Scareev!
                <br>
            </p>
            <img src="https://harvstrom.neocities.org/eu.png" width="200" height="200">
            <a href="https://www.youtube.com/@Scareev" id="link" target="_blank"> Canal do Scareev </a>
        </article>
         <article>
            <h2>Shinejazz (Artes)</h2>
            <p>porta fringilla eros, nec malesuada magna pharetra in. Proin quis libero facilisis, tristique 
nulla non, tincidunt nunc. Fusce dignissim commodo arcu vitae dapibus. Morbi convallis orci nunc, 
quis pellentesque enim varius vitae. Etiam pretium libero quis dapibus hendrerit. Sed et sapien in 
urna tincidunt fermentum.</p>
        </article>
        <article>
            <h2>Elizabete (Artes)</h2>
            <p>porta fringilla eros, nec malesuada magna pharetra in. Proin quis libero facilisis, tristique 
nulla non, tincidunt nunc. Fusce dignissim commodo arcu vitae dapibus. Morbi convallis orci nunc, 
quis pellentesque enim varius vitae. Etiam pretium libero quis dapibus hendrerit. Sed et sapien in 
urna tincidunt fermentum.</p>
        </article>
         <article>
            <h2>Tiago (Artes)</h2>
            <p>porta fringilla eros, nec malesuada magna pharetra in. Proin quis libero facilisis, tristique 
nulla non, tincidunt nunc. Fusce dignissim commodo arcu vitae dapibus. Morbi convallis orci nunc, 
quis pellentesque enim varius vitae. Etiam pretium libero quis dapibus hendrerit. Sed et sapien in 
urna tincidunt fermentum.</p>
        </article>
        <article>
            <h2>Júlio (Artes)</h2>
            <p>porta fringilla eros, nec malesuada magna pharetra in. Proin quis libero facilisis, tristique 
nulla non, tincidunt nunc. Fusce dignissim commodo arcu vitae dapibus. Morbi convallis orci nunc, 
quis pellentesque enim varius vitae. Etiam pretium libero quis dapibus hendrerit. Sed et sapien in 
urna tincidunt fermentum.</p>
        </article>
    </section>
    {% endblock %}
</body>
</html>