<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> HOME </title>
        <link rel="icon" type="https://harvstrom.neocities.org/fabiocon2.png" 
        href="https://harvstrom.neocities.org/fabiocon2.png">
    <link rel="static/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

    {% include 'components/header.html'%}
    {% block main%}
    {% endblock %}
    {% include 'components/footer.html'%}

</body>
</html>