<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> HOME </title>
        <link rel="icon" type="https://harvstrom.neocities.org/fabiocon2.png" 
        href="https://harvstrom.neocities.org/fabiocon2.png">
    <link rel="static/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    {% block head %}{% endblock %}
</head>
<body>

    <header class="topnav">
        <h1> <a href="/home/index" id="principal"> Estúdio Luna </a></h1>
         <nav id="teleport">
            <a href="/jogos">Jogos</a>
            <a href="/sobrenos">Sobre nós</a>
            <a href="/download">Devlog</a>
        </nav>
    </header>

    <section class="novidades">
     <h1>Bem vindo de volta, crotonauta.</h1>
        <article>
            <h2>22/05/2025 - Lançamento oficial de Locomotive Breath!</h2>
            <p>Confira agora o novo projeto da equipe! Um jogo bem misterioso e esquisito sobre comércio
                de artefatos mágicos, macabros e as vezes até mesmo perigosos. Demo gratuita no link abaixo.
                <a id="link" href="https://unistory.neocities.org" >Obtenha a demo gratuita!</a>
            </p>
        </article>
             <article>
            <h2>22/05/2025 - Site Oficial!</h2>
            <p>Outra coisa é que agora temos um site próprio, não é legal? </p>
        </article>
    </section>

    <footer class="downnav">
    <h1> Versão: Demo</h1>
    <nav>
    <p> Github <a href="https://github.com/JkDeltaz/estudio-luna">Aqui</a></p>
    </nav>
    </footer>

    {% block body %}{% endblock %}
</body>
</html>