{% extends 'base.html' %}
{% block main %}
<h1 class="p-2 mt-5 ms-5"> Olá, {{nome}}!</h1>

    <div class="novidades p-2 m-5 text-center bg-light chronobg">
        <img src="{{ url_for('static', filename='images/chronoruptura/arvore.gif')}}" height="150px" width="150px">
        <a href="https://jkdelta.itch.io/chronoruptura" target="_blank">
        <img src="https://img.itch.zone/aW1hZ2UvMjQzNDMwNi8xNDQxNDIxNC5wbmc=/original/uh8Sf5.png" height="400px" width="800px" class="p-4 m-2 shadow-lg"> 
        </a>
        <img src="{{ url_for('static', filename='images/chronoruptura/arvore2.gif')}}" height="150px" width="150px">
        <h2 class="p-4 text-white"  style="text-shadow: 2px 2px 4px rgba(0,0,0,0.7);">CHRONORUPTURA: JOGUE AGORA!</h2>
        <h5 class="text-white"> Um jogo de terror feito para a gamejam do Todddyn, vai encarar paizão?</h5>
        <div class="d-flex justify-content-between">
            <img src="{{ url_for('static', filename='images/chronoruptura/demoniraptor_2.gif')}}" height="150px" width="150px">
            <img src="{{ url_for('static', filename='images/chronoruptura/fogueira.gif')}}" height="150px" width="150px">

        </div>
    </div>

    <div style="grid-template-columns: 1fr 1fr;" class="d-grid gap-0 column-gap-3">
        <article class="novidades p-2 m-5 bg-light">
        <h3> Últimas atualizações: </h3>
        <h6> Primeiro post?</h6>
        </article>  
    </div>

{% endblock %}

