<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> NELSON-FIGHT </title>
        <link rel="icon" type="https://harvstrom.neocities.org/fabiocon2.png" 
        href="https://harvstrom.neocities.org/fabiocon2.png">
    <link rel="static/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    {% block head %}{% endblock %}
</head>
<body>

    <header class="topnav">
        <h1> <a href="/home/index" id="principal"> Estúdio Luna </a></h1>
         <nav id="teleport">
            <a href="/jogos">Jogos</a>
            <a href="/sobrenos">Sobre nós</a>
            <a href="/download">Devlog</a>
        </nav>
    </header>

    <section class="novidades2">
        <article>
        <h2>Nelson Fight II</h2>
      
    <iframe height="167" frameborder="0" src="https://itch.io/embed/3588911" width="552">
        <a href="https://jkdelta.itch.io/nelson-fight">Nelson Fight II by JkDelta</a></iframe>
        </article>
        <article>
            <p>
              Nelson Fight é um jogo de luta 2D feito para um projeto escolar, onde você controla os professores
              da escola contra eles mesmos!  
            </p>
            <p>
               Você pode acessar os controles do jogo apertando <b>ESC </b> e irá mostrar os respectivos
               controles de cada personagem.
            </p>
            <div class="flex">
                <div class="left">
                    <p>
                        <b>Jogo com acesso limitado.</b> Não é um lançamento oficial.
                    </p>
                </div>
                <div class="right">
                    <p>
                        <b>Data de lançamento:</b> 01/11/2024
                    </p>
            </div>
        </article>
    </section>

    <footer class="downnav">
    <h1> Versão: Demo</h1>
    <nav class="flex">
    <a href="https://github.com/JkDeltaz/estudio-luna" target="blank"><img src="https://harvstrom.neocities.org/git.png"></a>
    <a href="https://www.instagram.com/gamestudio_luna/" target="blank"><img src="https://harvstrom.neocities.org/insta.png"></a>
    </nav>
    </footer>

    {% block body %}{% endblock %}
</body>
</html>