<footer>
    <div class="d-flex align-items-center justify-content-between nav p-4">
        <h6> Direitos autorais (“© 2025 Estúdio Luna — Todos os direitos reservados”)</h6>
            <div>
            <a href="https://github.com/JkDeltaz/estudio-luna" target="blank" class="p-2"><img src="https://harvstrom.neocities.org/git.png"></a>
            <a href="https://www.instagram.com/gamestudio_luna/" target="blank" class="p-2"><img src="https://harvstrom.neocities.org/insta.png"></a>
            </div>
    </div>
</footer>