<header>
<div class="d-flex align-items-center justify-content-between nav p-4">
  <a href="{{ url_for('home') }}" class="p-2 linkcolor display-5">Estúdio Luna</a>
  <div>
    <a href="{{ url_for('jogos') }}" class="p-2 linkcolor fs-4 border-start">Jogos</a>
    <a href="{{ url_for('sobrenos') }}" class="p-2 linkcolor fs-4 border-start">Sobre nós</a>
    <a href="{{ url_for('posts') }}" class="p-2 linkcolor fs-4 border-start">Posts</a>
    <a href="{{url_for('conta')}}" class="p-2 linkcolor fs-4 border-start">Sua Conta </a>
  </div>
</div>

</header>