body {
    margin: 0px;
    background-color: #EFEAF6;
    font-family: Roboto Slab;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.sidebar a:hover {
    background: #7c6a9e;
}

.downnav {
    background-color: #5E4A7E;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-top: auto; 
}

.downnav h1{
    margin-left: 1.5%;
    font-size: medium;
}

.downnav nav{
    font-size: medium;
    margin-left: 80%;
}

.topnav{
    background-color: #5E4A7E;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.topnav nav{
    margin-left: 53%
}

.topnav h1{
    margin-left: 1.5%;
}

.topnav a{
    padding: 20px;
    margin-left: 10px;
    font-size: x-large;
    cursor: pointer;
}

.topnav a:hover{
    color: #DCD2E8;
}

.novidades{
    padding: 20px;
    margin: 2%;
    width: 60%;

}

.novidades article {
    margin-bottom: 30px;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
}

.novidades2{
    padding: 20px;
    margin: 2%;
    width: 60%;
    margin: 0 auto;  
    display: flex;
    flex-direction: column;
    align-items: center;     
}

.novidades2 article {
    margin-bottom: 30px;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 100%;   
}

a {
    color: #e6d9d9;
    text-decoration: none;
}

a:hover {
    color: #9a8cac;
}

#link{
    color:#5E4A7E;   
}

.section{
    display: flex;
    flex-direction: column;
}

/* Código Flex que separa os conteúdos em espaços na parte do Nelson-Fight */
/* Além de que está sendo utilizado na base.html*/

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.right {
  width: 45%;
  display: flex;
  flex-direction: column;
}