.body {
    margin: 0% 12% 0% 12%;
    background-color: #EFEAF6;
    font-family: Roboto Slab;
    display: flex;
    flex-direction: column;
}

.paintedbg {
    background-image: url('../images/background.png');
    background-size: 100%;
    position: relative;
}

.chronobg {
    background-image: 
        linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
        url('https://art.ngfiles.com/images/7138000/7138105_2554181_shinejazz_untitled-7138105.d5a0656e976ae9ca3ee51da5308716f1.webp?f1761247630');
    background-size: cover;       /* cobre toda a tela */
    background-position: center;  /* centraliza */
    background-repeat: no-repeat;
    position: relative;
}

.nav {
    background-color: #5E4A7E;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-top: auto; 
}

.footer{
    background-color: #5E4A7E;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-top: auto; 
}

.novidades{
    border: 2px solid #ddd;
    border-radius: 5px;
}


.novidades2{
    padding: 20px;
    margin: 2%;
    width: 60%;
    margin: 0 auto;  
    display: flex;
    flex-direction: column;
    align-items: center;     
}

.novidades2 article {
    margin-bottom: 30px;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 100%;   
}

.linkcolor {
    color: #e6d9d9;
    text-decoration: none;
}

a:hover {
    color: #9a8cac;
}

.section{
    display: flex;
    flex-direction: column;
}

/* Código Flex que separa os conteúdos em espaços na parte do Nelson-Fight */
/* Além de que está sendo utilizado na base.html*/

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.right {
  width: 45%;
  display: flex;
  flex-direction: column;
}