.body {
    margin: 0% 12% 0% 12%;
    background-color: #EFEAF6;
    font-family: Roboto Slab;
    display: flex;
    flex-direction: column;
}

.nav {
    background-color: #5E4A7E;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-top: auto; 
}

.footer{
    background-color: #5E4A7E;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-top: auto; 
}

.novidades{
    padding: 20px;
    margin: 2%;
    width: 60%;

}

.novidades article {
    margin-bottom: 30px;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
}

.novidades2{
    padding: 20px;
    margin: 2%;
    width: 60%;
    margin: 0 auto;  
    display: flex;
    flex-direction: column;
    align-items: center;     
}

.novidades2 article {
    margin-bottom: 30px;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 100%;   
}

.linkcolor {
    color: #e6d9d9;
    text-decoration: none;
}

a:hover {
    color: #9a8cac;
}

.section{
    display: flex;
    flex-direction: column;
}

/* Código Flex que separa os conteúdos em espaços na parte do Nelson-Fight */
/* Além de que está sendo utilizado na base.html*/

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.right {
  width: 45%;
  display: flex;
  flex-direction: column;
}